# ------------------------------------
# macOS
# ------------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
__MACOSX/

# ------------------------------------
# Java / Maven / Gradle
# ------------------------------------
*.class
*.jar

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# ------------------------------------
# Spring Boot
# ------------------------------------
# Archivos generados
spring.log


# VS Code
.vscode/

# ------------------------------------
# Logs y Temp
# ------------------------------------
*.log
logs/
*.tmp
tmp/
*.swp
